---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/cv/TimeLine.astro";
import { SOCIALS } from "src/config";
import { Icon } from "astro-icon/components";
import LargeTitle from "@components/LargeTitle.astro";
import { getCollection } from "astro:content";

const currentYear = new Date().getFullYear();
const entries = (await getCollection("cv"))
  .toSorted((a, b) => (a.data.to ?? currentYear) - (b.data.to ?? currentYear))
  .toReversed();
const description = entries.filter((e) => e.data.type === "description")[0];
const educationEntries = entries.filter((e) => e.data.type === "education");
const experienceEntries = entries.filter((e) => e.data.type === "experience");
const miscellaneousEntries = entries.filter((e) => e.data.type === "misc");
---

<BaseLayout title="Curriculum Vitae" sideBarActiveItemID="cv" currentPage={1}>
  <div class="mb-5 flex flex-col gap-8 sm:flex-row justify-between">
    <div>
      <div class="hidden sm:block text-5xl w-full font-bold mb-1">
        Bruno Mendes
      </div>
      <div class="text-2xl w-full mb-2">{description.data.title}</div>

      <a class="flex items-center mb-2" href={SOCIALS.LinkedIn.url} target="_blank">
        <Icon size="20" name={SOCIALS.LinkedIn.icon} />
        <span class="ml-2 text-sm" >
          {SOCIALS.LinkedIn.url.replace("https://www.", "")}
        </span>
      </a>
    </div>
    <img
      class="rounded-full saturate-[90%] max-w-28 h-fit"
      src="/assets/about-me/cv-profile.jpg"
    />
  </div>

  <div class="mb-8 text-justify">
    {description.body}
  </div>

  <LargeTitle title="Experience" />

  <div class="time-line-container mb-6">
    {
      experienceEntries.map((entry) => (
        <TimeLineElement
          title={entry.data.title}
          location={entry.data.location}
          from={entry.data.from.toString()}
          to={entry.data.to?.toString()}
        >
          {entry.body}
        </TimeLineElement>
      ))
    }
  </div>

  <LargeTitle title="Education" />

  <div class="time-line-container mb-8">
    {
      educationEntries.map((entry) => (
        <TimeLineElement
          title={entry.data.title}
          location={entry.data.location}
          from={entry.data.from.toString()}
          to={entry.data.to?.toString()}
          grade={entry.data.grade}
        >
          {entry.body}
        </TimeLineElement>
      ))
    }
  </div>

  <LargeTitle title="Miscellaneous" />

  <ul class="list-disc mx-6 mb-10 grid gap-4 text-justify">
    {
      miscellaneousEntries.map((entry) => (
        <li>
          <span class="font-bold">{entry.data.title}.</span>
          {entry.body}
        </li>
      ))
    }
  </ul>
</BaseLayout>
