---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import {
  createSlug,
  extractDate,
  extractDescription,
  augmentTagsWithDate,
} from "../lib/util";
import LargeTitle from "@components/LargeTitle.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => extractDate(b.id).valueOf() - extractDate(a.id).valueOf(),
);
const last_post = posts[0];

const poems = (await getCollection("poetry")).sort(
  (a, b) => extractDate(b.id).valueOf() - extractDate(a.id).valueOf(),
);
const last_poem = poems[0];

const slides = (await getCollection("slides")).sort(
  (a, b) => extractDate(b.id).valueOf() - extractDate(a.id).valueOf(),
);
const last_slide = slides[0];
---

<BaseLayout title="Home" sideBarActiveItemID="home">
  <div class="mb-16">
    <div class="text-3xl font-bold md:font-normal md:text-xl pt-0 py-4 md:py-1">
      Hey there
    </div>
    <div class="text-5xl font-bold hidden md:block">I'm Bruno Mendes.</div>
    <div class="text-lg py-1 px-4 md:px-0 md:py-3">
      <p>
        I'm a software engineer based in Porto, Portugal, holding an MSc from
        FEUP. I enjoy crafting elegant code, playing chess, and exploring
        interesting ideas through discussions and writing—hopefully offering
        value to others along the way.
      </p>
    </div>
  </div>

  <LargeTitle title="Latest content" />

  <HorizontalCard
    title={last_post.data.title}
    img={last_post.data.hero}
    description={extractDescription(last_post.body)}
    url={"/blog/" + createSlug(last_post.data.title)}
    badge={"blog"}
    tags={augmentTagsWithDate(last_post.data.tags, last_post.id)}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title={last_poem.data.title}
    description={extractDescription(last_poem.body)}
    url={"/poetry/" + createSlug(last_poem.data.title)}
    badge={"poetry"}
    tags={augmentTagsWithDate(last_poem.data.tags, last_poem.id)}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title={last_slide.data.title}
    description={last_slide.data.description}
    url={"/slides/" + createSlug(last_slide.data.title)}
    badge={"slides"}
    tags={augmentTagsWithDate(last_slide.data.tags, last_slide.id)}
  />
</BaseLayout>
