---
export interface Props {
  title: string;
  img?: ImageMetadata;
  description?: string;
  url?: string;
  badge?: string;
  tags?: string[];
  target?: string;
}

const {
  title,
  img,
  description,
  url,
  badge,
  tags,
  target = "_blank",
} = Astro.props;
import { Image } from "astro:assets";
---

<div
  class="flex rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a class="w-full" href={url} target={target}>
    <div class="w-full hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            class:list={["aspect-video", "object-cover", "max-h-40"]}
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold mr-2">
          {title}
        </h1>
        <p class="py-1 text-1xl">{description}</p>
        <div class="card-actions justify-end">
          {badge && <span class="badge badge-primary mt-2">{badge}</span>}
          {
            tags?.map((tag) => (
              <span class="badge badge-outline mt-2">{tag}</span>
            ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
