---
export interface Props {
  title: string;
  img?: ImageMetadata;
  description?: string;
  url?: string;
  badge?: string;
  tags: string[];
}

const { title, img, description, url, badge, tags } = Astro.props;
import { Image } from "astro:assets";
---

<div
  class="rounded bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a class="w-full" href={url}>
    <div class="w-full hero-content px-4 flex flex-col sm:flex-row items-start">
      {
        img && (
          <Image
            src={img}
            format="webp"
            alt={title}
            class="sm:max-w-48 rounded aspect-video object-cover max-h-32"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold mr-2">
          {title}
        </h1>
        <p class="py-1 text-1xl">{description}</p>
        <div class="card-actions justify-end mt-2">
          {badge && <span class="badge badge-primary">{badge}</span>}
          {tags.map((tag) => <span class="badge badge-outline">{tag}</span>)}
        </div>
      </div>
    </div>
  </a>
</div>
