---
import { Icon } from "astro-icon/components";
import Search from "astro-pagefind/components/Search";
import "../styles/search.css";

export interface Props {
  path?: string;
  title: string;
  selector?: string;
  filters?: [string, string][];
}

const { path, title, selector, filters } = Astro.props;
const filterModalId = title.replace(/[^a-zA-Z]+/g, "") + "filter";
const searchModalId = title.replace(/[^a-zA-Z]+/g, "") + "search";
---

<div class={"flex items-center justify-between gap-2 flex-wrap w-full mb-4"}>
  <a href={path} class="text-3xl font-bold mr-4">{title}</a>
  <div class="mt-0.5 flex gap-2">
    {
      selector && (
        <div class="flex gap-2 items-center">
          <span class="badge badge-primary mt-0.5">{selector}</span>
          <a href={path}>
            <Icon name="mdi:filter-variant-remove" size="24" />
          </a>
        </div>
      )
    }

    {
      filters && (
        <div class="flex items-center">
          <button class="" onclick={filterModalId + ".showModal()"}>
            <Icon name="mdi:filter-variant" size="24" />
          </button>
          <dialog id={filterModalId} class="modal">
            <ol class="modal-box w-fit min-w-40 flex flex-col gap-3 items-center max-h-[90svh]">
              {filters.map((f) => (
                <li class="text-center">
                  <a href={f[1]}>{f[0]}</a>
                </li>
              ))}
            </ol>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
        </div>
      )
    }

    <button class="" onclick={searchModalId + ".showModal()"}>
      <Icon name="mdi:search" class="mt-0.5" size="24" />
    </button>
    <dialog id={searchModalId} class="modal">
      <ol
        class="modal-box w-fit max-w-sm flex flex-col gap-3 items-center h-[90svh] md:h-[60svh]"
      >
        <Search uiOptions={{ showImages: false, resetStyles: false }} />
      </ol>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
</div>
