---
import { Icon } from "astro-icon/components";
import Search from "astro-pagefind/components/Search";
import "../styles/search.css";

export interface Props {
  path?: string;
  title: string;
  selector?: string;
  filters?: [string, string][];
  search?: boolean;
}

const { path, title, selector, filters, search = false } = Astro.props;
const filterModalId = title.replace(/[^a-zA-Z]+/g, "") + "filter";
const searchModalId = title.replace(/[^a-zA-Z]+/g, "") + "search";
const iconSize = 26;
---

<div class="flex items-center justify-between gap-3 flex-wrap w-full mb-4">
  <a href={path} class="text-3xl font-bold">{title}</a>
  <div class="flex gap-2 items-center mt-0.5">
    <slot />
    {
      selector && (
        <div class="flex gap-2 items-center">
          <span class="badge badge-primary leading-4 pb-0.5 text-center">{selector}</span>
          <a href={path}>
            <Icon name="mdi:filter-off" size={iconSize} />
          </a>
        </div>
      )
    }

    {
      filters && (
        <div class="flex items-center">
          <button
            class="cursor-pointer"
            onclick={filterModalId + ".showModal()"}
          >
            <Icon name="mdi:filter" size={iconSize} />
          </button>
          <dialog id={filterModalId} class="modal modal-top">
            <ol class="modal-box w-fit min-w-40 flex flex-col gap-2 items-center max-h-[90svh] md:max-h-[80svh] mx-auto">
              {filters.map((f) => (
                <li class="text-center w-full">
                  <a class="btn px-5 w-full sm:text-nowrap" href={f[1]}>
                    {f[0]}
                  </a>
                </li>
              ))}
            </ol>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
        </div>
      )
    }

    {
      search && (
        <div class="flex items-center">
          <button
            class="cursor-pointer"
            onclick={
              searchModalId +
              ".showModal();" +
              (path ? 'filterCategory("' + path!.replace("/", "") + '");' : "")
            }
          >
            <Icon name="mdi:magnify" size={iconSize} />
          </button>
          <dialog id={searchModalId} class="modal modal-top">
            <div class="modal-box max-w-lg max-h-[90svh] md:max-h-[80svh] mx-auto">
              <Search
                uiOptions={{
                  autofocus: true,
                  showImages: false,
                  resetStyles: false,
                  translations: {
                    placeholder:
                      "Search " + (path ? path.replace("/", "") : "everything"),
                  },
                }}
              />
            </div>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
        </div>
      )
    }
  </div>
</div>

<script is:inline>
  var clicked = false;
  function filterCategory(category) {
    if (clicked || !category) {
      return;
    }
    setTimeout(() => {
      const filter = document.getElementById("category-" + category);
      if (filter) {
        filter.click();
        clicked = true;
      } else {
        filterCategory(category);
      }
    }, 100);
  }
  filterCategory;
</script>
