---
export interface Props {
  title: string;
  img: ImageMetadata;
  description: string;
  mainBadge?: [string, string];
  secondaryBadge?: [string, string];
  tertiaryBadge?: [string, string];
}
import { Image } from "astro:assets";

const { title, tertiaryBadge, img, description, mainBadge, secondaryBadge } =
  Astro.props;
---

<div class="p-3 flex flex-col gap-2 shadow-lg border border-gray-800 rounded-md">
  <div
    class="w-full gap-2 flex flex-row items-start pb-0"
  >
    {
      (
        <Image
          src={img}
          format="webp"
          alt={title}
          class="max-w-16 rounded aspect-square object-cover"
        />
      )
    }
    <div class="grow w-full">
      <h1 class="text-lg font-bold mr-2">
        {title}
      </h1>
    </div>
  </div>
  <div class= w-full">
    <div class="grow w-full">
      <div class="card-actions mt-2 mb-1">
        {
          mainBadge && (
            <a href={mainBadge[1]} class="badge badge-primary">
              {mainBadge[0]}
            </a>
          )
        }
        {
          secondaryBadge && (
            <a href={secondaryBadge[1]} class="badge badge-secondary">
              {secondaryBadge[0]}
            </a>
          )
        }
        {
          tertiaryBadge && (
            <a href={tertiaryBadge[1]} class="badge badge-outline">
              {tertiaryBadge[0]}
            </a>
          )
        }
      </div>
    </div>
    <p class="pb-1 pt-2">{description}</p>
  </div>
</div>
