---
import PostLayout from "./PostLayout.astro";
import "../styles/chess.css";
import { buildChessMetaTags } from "src/lib/util";

export interface Props {
  white?: string;
  black?: string;
  result: string;
  tournament: string;
  whiteElo?: number;
  blackElo?: number;
  round?: number;
  board?: number;
  pgn: string;
  date: Date;
  description: string;
}

const {
  white = "Bruno Mendes",
  black = "Bruno Mendes",
  result,
  tournament,
  whiteElo,
  blackElo,
  pgn,
  date,
  description,
  board,
  round,
} = Astro.props;
const title = `${white} ${whiteElo ? `(${whiteElo})` : ""} ${result} ${black} ${blackElo ? `(${blackElo})` : ""}`;
const flipped = black === "Bruno Mendes";
---

<PostLayout
  title={title}
  customHeader={[
    `${white} ${whiteElo ? `(${whiteElo})` : ""}`,
    result,
    `${black} ${blackElo ? `(${blackElo})` : ""}`,
  ]}
  sideBarActiveItemID="chess"
  date={date}
  badge="chess"
  tags={[tournament]}
  disabledTags={buildChessMetaTags(round, board)}
  createYearBadge={false}
  tagEndpoint="tournament"
  shrink={false}
  description={description}
>
  <chess-game data-pgn={pgn} data-flipped={flipped}> </chess-game>
  <div id="board"></div>
</PostLayout>

<script>
  import LichessPgnViewer from "lichess-pgn-viewer";
  class ChessGame extends HTMLElement {
    connectedCallback() {
      LichessPgnViewer(document.getElementById("board")!, {
        pgn: this.dataset.pgn,
        orientation: this.dataset.flipped === "true" ? "black" : "white",
      });
    }
  }
  customElements.define("chess-game", ChessGame);
</script>
