---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props {
  title: string;
  customHeader?: string[];
  description: string;
  date: Date;
  badge: string;
  tags?: string[];
  disabledTags?: string[];
  createYearBadge?: boolean;
  tagEndpoint?: string;
  shrink?: boolean;
  sideBarActiveItemID: string;
}

const {
  title,
  customHeader,
  description,
  date,
  badge,
  tags = [],
  disabledTags = [],
  createYearBadge = true,
  tagEndpoint = "tag",
  shrink = true,
  sideBarActiveItemID,
} = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(date).format("ll");
---

<BaseLayout
  title={title}
  description={description}
  ogType="article"
  currentPage={1}
  shrink={shrink}
  sideBarActiveItemID={sideBarActiveItemID}
  index={true}
>
  <div class="mx-auto prose prose-img:mx-auto">
    {
      customHeader ? (
        <div class="flex w-full justify-between gap-4 mt-0 mb-2 items-center">
          {Object.entries(customHeader).map(([_, h], idx) => (
            <div
              class={`text-lg md:text-2xl font-bold grow-0 ${idx == 2 ? "text-right" : ""} ${idx == 1 ? "shrink-0" : ""}`}
            >
              {h}
            </div>
          ))}
        </div>
      ) : (
        <h1 class="mt-0 mb-2 text-4xl font-bold max-w-min min-w-fit">
          {title}
        </h1>
      )
    }
    <div class="pagefind-exclude" aria-hidden="true">
      {date && <time>{displayDate}</time>}
      <div class="flex max-w-min min-w-fit mt-2 gap-2 flex-wrap">
        <a
          data-pagefind-filter="category"
          href={`/${badge}`}
          class="badge badge-primary no-underline"
        >
          {badge}
        </a>
        {
          tags?.map((tag) => (
            <a
              href={`/${badge}/${tagEndpoint}/${tag}`}
              class="badge badge-outline no-underline"
            >
              {tag}
            </a>
          ))
        }
        {
          disabledTags?.map((tag) => (
            <span class="badge badge-ghost">{tag}</span>
          ))
        }
        {
          createYearBadge && (
            <a
              href={`/${badge}/year/${date.getFullYear().toString()}`}
              class="badge badge-outline no-underline"
            >
              {date.getFullYear().toString()}
            </a>
          )
        }
      </div>
      <div class="divider my-2"></div>
    </div>
    <article><slot /></article>
  </div>
</BaseLayout>
