---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props {
  title: string;
  description: string;
  date: Date;
  badge: string;
  tags?: string[];
}

const { title, description, date, badge, tags = [] } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(date).format("ll");
---

<BaseLayout title={title} description={description} ogType="article">
  <article class="prose prose-img:mx-auto mb-4">
    <h1 class="mt-0 my-2 text-4xl font-bold max-w-min min-w-fit">{title}</h1>
    {date && <time>{displayDate}</time>}
    <div class="flex max-w-min min-w-fit mt-2 gap-2 flex-wrap">
      <a href={`/${badge}`} class="badge badge-primary no-underline">
        {badge}
      </a>
      {
        tags?.map((tag) => (
          <a
            href={`/${badge}/tag/${tag}`}
            class="badge badge-outline no-underline"
          >
            {tag}
          </a>
        ))
      }
      <a
        href={`/${badge}/year/${date.getFullYear().toString()}`}
        class="badge badge-outline no-underline"
      >
        {date.getFullYear().toString()}
      </a>
    </div>
    <div class="divider my-2"></div>
    <slot />
  </article>
</BaseLayout>
